<div class="wrapper">
  <nav class="navbar">
    <div class="navbar__name"><span>Just A Bite!</span></div>
    <div class="navbar__list">
      <ul class="navbar__list__info">
        <li><a class="active" href="/">抽個大獎</a></li>
        <li><a class="normal" href="#">我要點餐</a></li>
        <li><a class="normal" href="#">訂單查詢</a></li>
        <li><a class="normal" href="#">常見問題</a></li>
      </ul>
    </div>
  </nav>
</div>