<%- include('./template/header') %>
<body>
  <%- include('./template/navbar') %>
  <div class="login-wrapper">
    <h2>Login</h2>
    <form action="/handle-login" method="POST">
      <div class="input__wrapper">
        <div class="input__label">author</div>
        <input class="input__field" type="text" name="author" autofocus/>
      </div>
      <div class="input__wrapper">
        <div class="input__label">PASSWORD</div>
          <% if (errMessage) { %>
            <span class="warning"> <%= errMessage %> </span>
          <% } %>
        <input class="input__field" type="password" name="password" />
      </div>
      <input type='submit' value="登入" />
    </form>
  </div>
<%- include('./template/footer') %>
